# I. Variables
We can use variables to hold values. These variables can hold different types of values. You can use type() to see what the variable's type.

### Variable Types

In [1]:
x = 1
type(x)

int

In [2]:
x = 1.0
type(x)

float

In [3]:
x = "1"
type(x)

str

In [4]:
x = False
type(x)

bool

### Declaring multiple variables at once
You can also assign names to multiple values simultaneously. But a caveat for this is that assignment is done after evaluation so you cannot use `one` and `two` in the expression for `three`.

In [5]:
one,two,three = 1,2,3
print(three)

3

# II. Operations and Expressions

### Example 1

In [6]:
#addition
x = 10
y = 3.0
z = x+y
print(z)

13.0

### Example 2

In [7]:
#multiplication
3*8

24

### Example 3

In [8]:
#powers
2**3

8

### Example 4

In [9]:
#modulus
8%3

2

***Try it yourself:***
w = 5, x = 12, y = 3, z = 2
write an expression that does this : ((w+x)*y)^z

In [10]:
#your code here

# III. Strings

Working with data often means working with strings. Recall that strings are what we call words and sentences in programming languanges because they are essentially a group of characters, like `a` or `b`, that have been *strung* together like `hello there!`. Being familiar with how to manipulate strings is not only important, but very useful. Many professionals love Python because of how easy it is to work with strings, especially in areas like [Natural Language Processing](https://en.wikipedia.org/wiki/Natural_language_processing).


You can use single, double, or triple quotes

In [11]:
my_name = "Stephanie"
my_name

'Stephanie'

### Concatenating strings

In [12]:
greeting = "Hello "+ my_name
greeting

'Hello Stephanie'

# IV. Lists
Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.
Lists are declared by just equating a variable to '[ ]' or list.

In [13]:
a = []
print(type(a))

<class 'list'>

You can directly assign values to a list like below:

In [14]:
fruits = ["apples","oranges","bannanas"]

You can store any data type within a list. This includes strings, ints, floats, bools, and even lists!

In [15]:
[1, "one", 3.14, True]

[1, 'one', 3.14, True]

### Adding to a list

You can add to lists using the `append` method like this.

In [16]:
a_list = [1, 2, 3, 4, 5]
a_list.append(6)
a_list

[1, 2, 3, 4, 5, 6]

It is also possible to concatenate two arrays, ie. you can add two lists end-to-end.

In [17]:
a_list + a_list

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### Built in List Functions

In [18]:
#Find the length
print(len(a_list))

#Find the min value
print(min(a_list))

#Find the max value
print(max(a_list))

#Concatenate two lists 
x = [1,2,3] + [5,4,7]
print(x)

#Check if an element is in a list
1 in x

6
1
6
[1, 2, 3, 5, 4, 7]

True

***Try it yourself:***
Calculate the sum of all the numbers in the list `x`.

In [19]:
# your code here

# V. Indexing
In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [20]:
fruits[0]

'apples'

You can also directly change the value of an index

In [21]:
fruits[0] = "pineapple"

In [22]:
fruits[0]

'pineapple'

You can also use negative indices to go backwards in a list

In [23]:
fruits[-1]

'bannanas'

You can even have lists inside of lists, this is the same idea of how we'd store a matrix.

In [24]:
plants = [fruits]
print(plants)

[['pineapple', 'oranges', 'bannanas']]

# VI. Slicing
If we want to get the 2nd to 4th items in `a_list`, we can use slicing.

In [25]:
a_list[1:4]

[2, 3, 4]

If you want to skip elements you can also do this

In [26]:
a_list[0::2]

[1, 3, 5]

We can also reverse a list

In [27]:
a_list[::-1]

[6, 5, 4, 3, 2, 1]

# VII. Dictionaries
Think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). You can use keys to retrieve the values associated with that key.

In [28]:
params = {"parameter1" : 1.0, "parameter2" : 2.0, "parameter3" : 3.0,}

In [29]:
print(type(params))

<class 'dict'>

In [30]:
print(params)

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [31]:
print(params["parameter1"])
print(params["parameter2"])
print(params["parameter3"])

1.0
2.0
3.0

# VIII. Control Flow and Loops

### If-Else Conditionals

Besides the `elif` statement, there are three more things to notice. First, the conditional statements don't have to be in parentheses, which allows for easier reading of code with much less clutter. Second, each statement is terminated with a `:`. This is essentially saying that we will "define" what this statement entails. And, third, that each "block" following a statement is merely indented with either 4 spaces or a tab. This is, again, for readability. You can almost think of Python code as _outlining_ what you want it to do, where each statement is kind of like a heading and each block is an indented "idea", so to speak.

In [32]:
if 2 < 1 and 1 > 0:
    print('Not both!')
elif 1 > 0:
    print('Just one.')
else:
    print('Everything else')

Just one.

### For Loops
For loops lets you iterate through data.

In [33]:
for x in range(4):
    print(x)

0
1
2
3

In [34]:
# Iterating through a string:
greeting = "Hello Machine Learning!!!"
for char in greeting:
    print(char)

H
e
l
l
o

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g
!
!
!

In [35]:
# Iterating through a list:
a_list = ['Hello', 'Machine', 'Learning', '!!!']

for word in a_list:
    print(word)

Hello
Machine
Learning
!!!

In [36]:
# Iterating through key value pairs in the dictionary we defined earlier
for key, value in params.items():
    print(key + " = " + str(value))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

***Try it yourself:***
Create a for loop to print out every even number from in the interval `[1:100]`. Hint: create an appropriate `iterable` first.

In [37]:
# your code here

### List Comprehensions: loops to create lists
A very useful feature of Python lists is called **comprehension** notation. It allows us to use for loops to create lists! This notation is very similar to set-builder notation from math and allows us to succinctly create lists from other lists. In the following cell, we take a `range`, which is "list-like", and square each value. The `range` function returns an `iterable` from an _optional_ starting point to an end point.

In [38]:
range(5)

range(0, 5)

In [39]:
squares = [x * x  for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [40]:
squares_plus = [x + 1 for x in squares]
squares_plus

[1, 2, 5, 10, 17]

# IX. Functions
We can create helpful functions where we can save code to be reused. Let's make some helpful functions!

In [41]:
def square(x):
    return x*x 

# You can return multiple  values
def powers(x):
    return x ** 2, x ** 3, x ** 4

#You don't have to have a return value
def split_up_string(x):
    for s in x:
        print(s)

***Try it yourself:*** Define a function that returns the mean of the list, `li`, below:

In [42]:
li = [1,12,15,4,9,8,4,5]
# your code here